In [3]:
import pandas as pd
from google.colab import files
import io
import numpy as np

data = files.upload()
df = pd.read_excel(io.BytesIO(data['Planilha_q_x31.08.xlsx']))
df

Saving Planilha_q_x31.08.xlsx to Planilha_q_x31.08.xlsx

          q_x
0    0.000355
1    0.000226
2    0.000195
3    0.000180
4    0.000171
..        ...
112  0.828202
113  0.916575
114  0.980947
115  0.999816
116  1.000000

[117 rows x 1 columns]

In [139]:
feature_list = ['x', 'l_x', 'd_x', 'q_x', 'p_x', 'L_x', 'T_x', 'e_x', 'u_x', 'm_x']
w = 117 # a ultima idade da tabua, ou seja, omega.
df2 = pd.DataFrame(0, index=np.arange(w), columns=feature_list)
df2

     x  l_x  d_x  q_x  p_x  L_x  T_x  e_x  u_x  m_x
0    0    0    0    0    0    0    0    0    0    0
1    0    0    0    0    0    0    0    0    0    0
2    0    0    0    0    0    0    0    0    0    0
3    0    0    0    0    0    0    0    0    0    0
4    0    0    0    0    0    0    0    0    0    0
..  ..  ...  ...  ...  ...  ...  ...  ...  ...  ...
112  0    0    0    0    0    0    0    0    0    0
113  0    0    0    0    0    0    0    0    0    0
114  0    0    0    0    0    0    0    0    0    0
115  0    0    0    0    0    0    0    0    0    0
116  0    0    0    0    0    0    0    0    0    0

[117 rows x 10 columns]

In [140]:
df2['q_x'] = df['q_x']
df2

     x  l_x  d_x       q_x  p_x  L_x  T_x  e_x  u_x  m_x
0    0    0    0  0.000355    0    0    0    0    0    0
1    0    0    0  0.000226    0    0    0    0    0    0
2    0    0    0  0.000195    0    0    0    0    0    0
3    0    0    0  0.000180    0    0    0    0    0    0
4    0    0    0  0.000171    0    0    0    0    0    0
..  ..  ...  ...       ...  ...  ...  ...  ...  ...  ...
112  0    0    0  0.828202    0    0    0    0    0    0
113  0    0    0  0.916575    0    0    0    0    0    0
114  0    0    0  0.980947    0    0    0    0    0    0
115  0    0    0  0.999816    0    0    0    0    0    0
116  0    0    0  1.000000    0    0    0    0    0    0

[117 rows x 10 columns]

#### x

In [141]:
df2['x'] = df2['x'].apply(lambda x: int(x))

for row in range(w):
    df2.at[row, 'x'] = row
    row += 1
df2

       x  l_x  d_x       q_x  p_x  L_x  T_x  e_x  u_x  m_x
0      0    0    0  0.000355    0    0    0    0    0    0
1      1    0    0  0.000226    0    0    0    0    0    0
2      2    0    0  0.000195    0    0    0    0    0    0
3      3    0    0  0.000180    0    0    0    0    0    0
4      4    0    0  0.000171    0    0    0    0    0    0
..   ...  ...  ...       ...  ...  ...  ...  ...  ...  ...
112  112    0    0  0.828202    0    0    0    0    0    0
113  113    0    0  0.916575    0    0    0    0    0    0
114  114    0    0  0.980947    0    0    0    0    0    0
115  115    0    0  0.999816    0    0    0    0    0    0
116  116    0    0  1.000000    0    0    0    0    0    0

[117 rows x 10 columns]

#### d_x

In [142]:
df2['d_x'] = df2['l_x']*df2['q_x']
df2

       x  l_x  d_x       q_x  p_x  L_x  T_x  e_x  u_x  m_x
0      0    0  0.0  0.000355    0    0    0    0    0    0
1      1    0  0.0  0.000226    0    0    0    0    0    0
2      2    0  0.0  0.000195    0    0    0    0    0    0
3      3    0  0.0  0.000180    0    0    0    0    0    0
4      4    0  0.0  0.000171    0    0    0    0    0    0
..   ...  ...  ...       ...  ...  ...  ...  ...  ...  ...
112  112    0  0.0  0.828202    0    0    0    0    0    0
113  113    0  0.0  0.916575    0    0    0    0    0    0
114  114    0  0.0  0.980947    0    0    0    0    0    0
115  115    0  0.0  0.999816    0    0    0    0    0    0
116  116    0  0.0  1.000000    0    0    0    0    0    0

[117 rows x 10 columns]

#### l_x

In [143]:
df2.at[0, 'l_x'] = 10000
df2['l_x'] = df2['l_x'].apply(lambda x: float(x))
print(df2.at[0, 'l_x'])
i = 1
while i < w:
  df2.at[i-1, 'd_x'] = df2.at[i-1, 'l_x']*df2.at[i-1, 'q_x']
  df2.at[i, 'l_x'] = df2.at[i-1, 'l_x'] - df2.at[i-1, 'd_x']
  i += 1
df2

10000.0

       x           l_x       d_x       q_x  p_x  L_x  T_x  e_x  u_x  m_x
0      0  1.000000e+04  3.550000  0.000355    0    0    0    0    0    0
1      1  9.996450e+03  2.259198  0.000226    0    0    0    0    0    0
2      2  9.994191e+03  1.948867  0.000195    0    0    0    0    0    0
3      3  9.992242e+03  1.798604  0.000180    0    0    0    0    0    0
4      4  9.990443e+03  1.708366  0.000171    0    0    0    0    0    0
..   ...           ...       ...       ...  ...  ...  ...  ...  ...  ...
112  112  4.040113e-01  0.334603  0.828202    0    0    0    0    0    0
113  113  6.940832e-02  0.063618  0.916575    0    0    0    0    0    0
114  114  5.790389e-03  0.005680  0.980947    0    0    0    0    0    0
115  115  1.103243e-04  0.000110  0.999816    0    0    0    0    0    0
116  116  2.029967e-08  0.000000  1.000000    0    0    0    0    0    0

[117 rows x 10 columns]

#### p_x

In [144]:
df2['p_x'] = 1 - df2['q_x']
df2

       x           l_x       d_x       q_x       p_x  L_x  T_x  e_x  u_x  m_x
0      0  1.000000e+04  3.550000  0.000355  0.999645    0    0    0    0    0
1      1  9.996450e+03  2.259198  0.000226  0.999774    0    0    0    0    0
2      2  9.994191e+03  1.948867  0.000195  0.999805    0    0    0    0    0
3      3  9.992242e+03  1.798604  0.000180  0.999820    0    0    0    0    0
4      4  9.990443e+03  1.708366  0.000171  0.999829    0    0    0    0    0
..   ...           ...       ...       ...       ...  ...  ...  ...  ...  ...
112  112  4.040113e-01  0.334603  0.828202  0.171798    0    0    0    0    0
113  113  6.940832e-02  0.063618  0.916575  0.083425    0    0    0    0    0
114  114  5.790389e-03  0.005680  0.980947  0.019053    0    0    0    0    0
115  115  1.103243e-04  0.000110  0.999816  0.000184    0    0    0    0    0
116  116  2.029967e-08  0.000000  1.000000  0.000000    0    0    0    0    0

[117 rows x 10 columns]

#### L_x

In [145]:
df2['L_x'] = df2['L_x'].apply(lambda x: float(x))
i = 0
while i < w-1:
  df2.at[i, 'L_x'] = (df2.at[i, 'l_x'] + df2.at[i+1, 'l_x'])/2
  i += 1

df2

,x,l_x,d_x,q_x,p_x,L_x,T_x,e_x,u_x,m_x
0,0,1.000000e+04,3.550000,0.000355,0.999645,9998.225000,0,0,0,0
1,1,9.996450e+03,2.259198,0.000226,0.999774,9995.320401,0,0,0,0
2,2,9.994191e+03,1.948867,0.000195,0.999805,9993.216369,0,0,0,0
3,3,9.992242e+03,1.798604,0.000180,0.999820,9991.342633,0,0,0,0
4,4,9.990443e+03,1.708366,0.000171,0.999829,9989.589149,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
112,112,4.040113e-01,0.334603,0.828202,0.171798,0.236710,0,0,0,0
113,113,6.940832e-02,0.063618,0.916575,0.083425,0.037599,0,0,0,0
114,114,5.790389e-03,0.005680,0.980947,0.019053,0.002950,0,0,0,0
115,115,1.103243e-04,0.000110,0.999816,0.000184,0.000055,0,0,0,0
116,116,2.029967e-08,0.000000,1.000000,0.000000,0.000000,0,0,0,0

In [146]:
df2['T_x'] = df2['T_x'].apply(lambda x: float(x)) # <- i've tried this, but didn't work
print(w)
i = 0
while i < w:
  df2.at[i, 'T_x'] = df2.loc[i:w, 'L_x'].sum() # w = index of the last row
  i += 1
df2

117

,x,l_x,d_x,q_x,p_x,L_x,T_x,e_x,u_x,m_x
0,0,1.000000e+04,3.550000,0.000355,0.999645,9998.225000,836841.869166,0,0,0
1,1,9.996450e+03,2.259198,0.000226,0.999774,9995.320401,826843.644166,0,0,0
2,2,9.994191e+03,1.948867,0.000195,0.999805,9993.216369,816848.323765,0,0,0
3,3,9.992242e+03,1.798604,0.000180,0.999820,9991.342633,806855.107397,0,0,0
4,4,9.990443e+03,1.708366,0.000171,0.999829,9989.589149,796863.764763,0,0,0
...,...,...,...,...,...,...,...,...,...,...
112,112,4.040113e-01,0.334603,0.828202,0.171798,0.236710,0.277315,0,0,0
113,113,6.940832e-02,0.063618,0.916575,0.083425,0.037599,0.040605,0,0,0
114,114,5.790389e-03,0.005680,0.980947,0.019053,0.002950,0.003006,0,0,0
115,115,1.103243e-04,0.000110,0.999816,0.000184,0.000055,0.000055,0,0,0
116,116,2.029967e-08,0.000000,1.000000,0.000000,0.000000,0.000000,0,0,0

#### e_x

In [151]:
df2['e_x'] = df2['T_x']/df2['l_x']
df2

,x,l_x,d_x,q_x,p_x,L_x,T_x,e_x,u_x,m_x
0,0,1.000000e+04,3.550000,0.000355,0.999645,9998.225000,836841.869166,83.684187,0.000000,0.000355
1,1,9.996450e+03,2.259198,0.000226,0.999774,9995.320401,826843.644166,82.713728,0.000291,0.000226
2,2,9.994191e+03,1.948867,0.000195,0.999805,9993.216369,816848.323765,81.732312,0.000211,0.000195
3,3,9.992242e+03,1.798604,0.000180,0.999820,9991.342633,806855.107397,80.748156,0.000188,0.000180
4,4,9.990443e+03,1.708366,0.000171,0.999829,9989.589149,796863.764763,79.762603,0.000176,0.000171
...,...,...,...,...,...,...,...,...,...,...
112,112,4.040113e-01,0.334603,0.828202,0.171798,0.236710,0.277315,0.686403,1.812917,1.413558
113,113,6.940832e-02,0.063618,0.916575,0.083425,0.037599,0.040605,0.585015,2.868682,1.691995
114,114,5.790389e-03,0.005680,0.980947,0.019053,0.002950,0.003006,0.519055,5.983881,1.925213
115,115,1.103243e-04,0.000110,0.999816,0.000184,0.000055,0.000055,0.500092,26.242494,1.999264
116,116,2.029967e-08,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2716.891304,NaN

In [152]:
df2 = df2.round(20) # Tirar a scientific notation
df2

,x,l_x,d_x,q_x,p_x,L_x,T_x,e_x,u_x,m_x
0,0,1.000000e+04,3.550000,0.000355,0.999645,9998.225000,836841.869166,83.684187,0.000000,0.000355
1,1,9.996450e+03,2.259198,0.000226,0.999774,9995.320401,826843.644166,82.713728,0.000291,0.000226
2,2,9.994191e+03,1.948867,0.000195,0.999805,9993.216369,816848.323765,81.732312,0.000211,0.000195
3,3,9.992242e+03,1.798604,0.000180,0.999820,9991.342633,806855.107397,80.748156,0.000188,0.000180
4,4,9.990443e+03,1.708366,0.000171,0.999829,9989.589149,796863.764763,79.762603,0.000176,0.000171
...,...,...,...,...,...,...,...,...,...,...
112,112,4.040113e-01,0.334603,0.828202,0.171798,0.236710,0.277315,0.686403,1.812917,1.413558
113,113,6.940832e-02,0.063618,0.916575,0.083425,0.037599,0.040605,0.585015,2.868682,1.691995
114,114,5.790389e-03,0.005680,0.980947,0.019053,0.002950,0.003006,0.519055,5.983881,1.925213
115,115,1.103243e-04,0.000110,0.999816,0.000184,0.000055,0.000055,0.500092,26.242494,1.999264
116,116,2.029967e-08,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2716.891304,NaN

#### u_x

In [153]:
df2['u_x'] = df2['u_x'].apply(lambda x: float(x))
i = 1
while i < w:
  df2.at[i, 'u_x'] = (df2.at[i-1, 'd_x'] + df2.at[i, 'd_x'])/2*(1/df2.at[i, 'l_x'])
  i += 1
df2

,x,l_x,d_x,q_x,p_x,L_x,T_x,e_x,u_x,m_x
0,0,1.000000e+04,3.550000,0.000355,0.999645,9998.225000,836841.869166,83.684187,0.000000,0.000355
1,1,9.996450e+03,2.259198,0.000226,0.999774,9995.320401,826843.644166,82.713728,0.000291,0.000226
2,2,9.994191e+03,1.948867,0.000195,0.999805,9993.216369,816848.323765,81.732312,0.000211,0.000195
3,3,9.992242e+03,1.798604,0.000180,0.999820,9991.342633,806855.107397,80.748156,0.000188,0.000180
4,4,9.990443e+03,1.708366,0.000171,0.999829,9989.589149,796863.764763,79.762603,0.000176,0.000171
...,...,...,...,...,...,...,...,...,...,...
112,112,4.040113e-01,0.334603,0.828202,0.171798,0.236710,0.277315,0.686403,1.812917,1.413558
113,113,6.940832e-02,0.063618,0.916575,0.083425,0.037599,0.040605,0.585015,2.868682,1.691995
114,114,5.790389e-03,0.005680,0.980947,0.019053,0.002950,0.003006,0.519055,5.983881,1.925213
115,115,1.103243e-04,0.000110,0.999816,0.000184,0.000055,0.000055,0.500092,26.242494,1.999264
116,116,2.029967e-08,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2716.891304,NaN

#### m_x

In [150]:
df2['m_x'] = df2['d_x']/df2['L_x']
df2

,x,l_x,d_x,q_x,p_x,L_x,T_x,e_x,u_x,m_x
0,0,1.000000e+04,3.550000,0.000355,0.999645,9998.225000,836841.869166,83.684187,0.000000,0.000355
1,1,9.996450e+03,2.259198,0.000226,0.999774,9995.320401,826843.644166,82.713728,0.000291,0.000226
2,2,9.994191e+03,1.948867,0.000195,0.999805,9993.216369,816848.323765,81.732312,0.000211,0.000195
3,3,9.992242e+03,1.798604,0.000180,0.999820,9991.342633,806855.107397,80.748156,0.000188,0.000180
4,4,9.990443e+03,1.708366,0.000171,0.999829,9989.589149,796863.764763,79.762603,0.000176,0.000171
...,...,...,...,...,...,...,...,...,...,...
112,112,4.040113e-01,0.334603,0.828202,0.171798,0.236710,0.277315,0.686403,1.812917,1.413558
113,113,6.940832e-02,0.063618,0.916575,0.083425,0.037599,0.040605,0.585015,2.868682,1.691995
114,114,5.790389e-03,0.005680,0.980947,0.019053,0.002950,0.003006,0.519055,5.983881,1.925213
115,115,1.103243e-04,0.000110,0.999816,0.000184,0.000055,0.000055,0.500092,26.242494,1.999264
116,116,2.029967e-08,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2716.891304,NaN